* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
  }
  
  .frame {
    width: 250px; /* Adjust the width as needed */
    background-color: #476657;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .cont {
    display: flex;
    margin-bottom: 10px;
  }
  
  .screen {
    flex: 1;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #858585;
    border-radius: 4px;
  }
  
  .btn {
    flex: 1;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #12291C;
    border-radius: 4px;
    background-color: #4F6D5C;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e0e0e0;
  }
  
  
  
  
  
  .c {
    background-color: #ff7f7f;
  }
  
  .ac {
    background-color: #ffa500;
  }
  
  .num {
    background-color: #4F6D5C;
  }
  .r4{
    max-width: 75%;
    margin-right: 0px;
  }
  .r5{
    flex-wrap: wrap;
  }
  .r5 #zero{
    flex-grow: 2;
    
  }
  .equal {
    font-weight: bold;
    align-self: stretch;
    
  }
  
  @media screen and (max-width: 500px) {
    .frame {
      width: 100%;
      max-width: 400px;
    }
  }
  